E_Shopper/Connected Services/ProductsDetailWebService/ProductsDetailService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetProductById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductByIdResult" type="tns:ProductsDetailViewModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ProductsDetailViewModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="VCHRPRODUCTID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="VCHRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VCHRDESCRIPTION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VCHRCATEGORY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VCHRBRAND" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VCHRPRICE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VCHRDISCOUNTPRICE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VCHRSTOCKQUANTITY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VCHRCOLOR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VCHRSIZE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VCHRMATERIAL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VCHRMAINIMAGEURL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VCHRSTATUS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VCHRTAGS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="VCHRCREATEDAT" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="VCHRUPDATEDAT" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="VCHRAVERAGERATING" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VCHRREVIEWCOUNT" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddToCartInDatabase">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="productId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="quantity" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddToCartInDatabaseResponse">
        <s:complexType />
      </s:element>
      <s:element name="IsProductInCart">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="productId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsProductInCartResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsProductInCartResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetProductByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductById" />
  </wsdl:message>
  <wsdl:message name="GetProductByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductByIdResponse" />
  </wsdl:message>
  <wsdl:message name="AddToCartInDatabaseSoapIn">
    <wsdl:part name="parameters" element="tns:AddToCartInDatabase" />
  </wsdl:message>
  <wsdl:message name="AddToCartInDatabaseSoapOut">
    <wsdl:part name="parameters" element="tns:AddToCartInDatabaseResponse" />
  </wsdl:message>
  <wsdl:message name="IsProductInCartSoapIn">
    <wsdl:part name="parameters" element="tns:IsProductInCart" />
  </wsdl:message>
  <wsdl:message name="IsProductInCartSoapOut">
    <wsdl:part name="parameters" element="tns:IsProductInCartResponse" />
  </wsdl:message>
  <wsdl:portType name="ProductsDetailServiceSoap">
    <wsdl:operation name="GetProductById">
      <wsdl:input message="tns:GetProductByIdSoapIn" />
      <wsdl:output message="tns:GetProductByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddToCartInDatabase">
      <wsdl:input message="tns:AddToCartInDatabaseSoapIn" />
      <wsdl:output message="tns:AddToCartInDatabaseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsProductInCart">
      <wsdl:input message="tns:IsProductInCartSoapIn" />
      <wsdl:output message="tns:IsProductInCartSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProductsDetailServiceSoap" type="tns:ProductsDetailServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProductById">
      <soap:operation soapAction="http://tempuri.org/GetProductById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddToCartInDatabase">
      <soap:operation soapAction="http://tempuri.org/AddToCartInDatabase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsProductInCart">
      <soap:operation soapAction="http://tempuri.org/IsProductInCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProductsDetailServiceSoap12" type="tns:ProductsDetailServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProductById">
      <soap12:operation soapAction="http://tempuri.org/GetProductById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddToCartInDatabase">
      <soap12:operation soapAction="http://tempuri.org/AddToCartInDatabase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsProductInCart">
      <soap12:operation soapAction="http://tempuri.org/IsProductInCart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductsDetailService">
    <wsdl:port name="ProductsDetailServiceSoap" binding="tns:ProductsDetailServiceSoap">
      <soap:address location="https://localhost/ProductsDetailService.asmx" />
    </wsdl:port>
    <wsdl:port name="ProductsDetailServiceSoap12" binding="tns:ProductsDetailServiceSoap12">
      <soap12:address location="https://localhost/ProductsDetailService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>